.App {
  text-align: center;
  background-color: rgb(226, 232, 240);
  width: 800px;
  display: flex;
  padding: 25px;
}

.image { 
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.image-container { 
  display: flex;
  align-items: center;
}

.player-container {
  width: 35em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
}

.author {
  color: #E64415;
}

.title {
  color: #000000;
  width: fit-content;
}

.progress-bar {
  width: 100%;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.time-container h5 {
  margin-top: 0px;
  padding-left: 3px;
}

.button-container {
  display: flex;
}

.loader {
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

.volume-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.volume-container:hover .volume-bar, .volume-bar:hover {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.volume-button {
  border: .1em solid;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.play, .next, .prev {
  border: .1em solid;
  width: 28px;
  height: 28px;
}

.next, .prev {
  border: none;
  background-color: rgb(226, 232, 240);
}

.play {
  border-radius: 50%;
}

.play .svg-play {
  position: relative;
  left: 1px;
}

.button-filler,.next-play-prev,.volume-container {
  width: 33%;
}
.next-play-prev {
  display: flex;
  justify-content: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }

  .App {
    flex-direction: column;
    align-items: center
  }

  .player-container {
    width: 90%;
  }

  .track-info {
    display: flex;
    justify-content: flex-start;
  }
  .title {
    padding-right: .5em;
  }
  .progress-bar {
    height: 5em;
  }
  .button-container {
    display: flex;
    align-items: center;
    height: 5em;
    padding-bottom: 2em;
  }
  .play,.pause,.next,.prev {
    width: 6em;
    height: 6em;
  }
  .play svg,.pause svg,.next svg,.prev svg, .volume-button svg {
    height: 2em;
    width: 2em;
  }
  .button-filler {
    width: 33%;
  }
  .volume-container {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .volume-button {
    border: .2em solid;
    border-radius: 50%;
  }
  .next-play-prev {
    display: flex;
    justify-content: space-around;
    width: 33%;
    display: flex;
  }

  .play {
    border: .2em solid;
    border-radius: 50%;
  }
  .next,.prev {
    border: none;
    background-color: rgb(226, 232, 240);
  }

  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.4em;
  }
  .volume-bar {
    display: none;
  }
  .volume-container button {
    width: 5em;
    height: 5em;
  }
  
  /* Progress Bar */
  .progress-bar {
    -webkit-appearance: none;
    background-color: rgb(226, 232, 240);
    border-radius: 20px;
    border: none;
  }

    /* CHROME */
    .progress-bar{
      -webkit-appearance: none;
    }
  
    .progress-bar::-webkit-slider-runnable-track {
        height: 2em;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    .progress-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        background: goldenrod;
        margin-top: -4px;
    }
  
    .progress-bar:focus {
        outline: none;
    }

    .progress-bar:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }
  /* FIREFOX */
    /* .progress-bar{
      /* fix for FF unable to apply focus style bug  */
      /* border: 1px solid white;  */

      /*required for proper track sizing in FF*/
      /* width: 300px; */
    /* }  */

    .progress-bar::-moz-range-track {
      /* width: 300px; */
      height: 2em;
      background: #ddd;
      border: none;
      border-radius: 3px;
    }

    .progress-bar::-moz-range-thumb {
      border: none;
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      background: goldenrod;
    }

    /*hide the outline behind the border*/
    .progress-bar:-moz-focusring{
        outline: 1px solid white;
        outline-offset: -1px;
    }

    .progress-bar:focus::-moz-range-track {
        background: #ccc;
    }
    /* EXPLORER */
    .progress-bar::-ms-track {
      /* width: 300px; */
      height: 5px;

      /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
      background: transparent;

      /*leave room for the larger thumb to overflow with a transparent border */
      border-color: transparent;
      border-width: 6px 0;

      /*remove default tick marks*/
      color: transparent;
    }
    .progress-bar::-ms-fill-lower {
      background: #777;
      border-radius: 10px;
    }
    .progress-bar::-ms-fill-upper {
      background: #ddd;
      border-radius: 10px;
    }
    .progress-bar::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: goldenrod;
    }
    .progress-bar:focus::-ms-fill-lower {
      background: #888;
    }
    .progress-bar:focus::-ms-fill-upper {
      background: #ccc;
    }
}